@use "@/styles/global.module.scss" as global-scss;

.search_panel_container {
  .page_name_container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 8rem;

    & > h1 {
      font-size: 4rem;
    }
  }

  .search_panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    justify-content: center;
    gap: 20px;

    & > div {
      display: grid;
      row-gap: 6px;
    }

    .range_slider_container {
      align-self: flex-start;
    }

    .date_range_input_container {
      .date_range_input_flex {
        display: flex;
        gap: 20px;

        .date_range_input {
          flex-grow: 1;
        }
      }
    }
  }
}
