.search_panel {
  display: grid;
  row-gap: 10px;
  .upper_panel {
    display: flex;
    column-gap: 20px;
    justify-content: space-around;

    .province_select_container {
      flex-grow: 1;
    }

    .range_slider_container {
      flex-grow: 1;
    }
  }

  .bottom_panel {
    display: flex;
    column-gap: 20px;

    .search_bar_container {
      width: 100%;
    }
  }
}
