@use "@/styles/global.module.scss" as global-scss;

.main_page_container {
  display: grid;
  row-gap: 1rem;

  .hotel_list_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    gap: 20px;
    justify-content: space-evenly;
  }

  .province_card_container {
    .province_card_header {
      @include global-scss.heading_text;
    }

    .province_card_body {
      display: flex;
      row-gap: 1rem;
      column-gap: 0.5rem;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
