@use "@/styles/global.module.scss" as global-scss;

.main_page_container {
  display: grid;
  row-gap: 2rem;

  .hotel_list_container {
    display: grid;
    row-gap: 20px;
    .hotel_list_heading {
      @include global-scss.heading_text;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hotel_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, 24rem);
      gap: 20px;
      justify-content: space-evenly;
    }
  }

  .province_card_container {
    .province_card_header {
      @include global-scss.heading_text;
    }

    .province_card_body {
      display: flex;
      row-gap: 1rem;
      column-gap: 0.5rem;
      justify-content: center;
      flex-wrap: wrap;

      .province_card {
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
