@use "@/styles/global.module.scss" as global-scss;

.booking_page_container {
  display: grid;
  row-gap: global-scss.$section-spacing;

  .booking_table_container {
    .booking_table_heading {
      @include global-scss.heading-text;
    }

    .booking_control_panel {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;

      .date_picker_input {
        flex: 1 1 400px;
        max-width: 400px;
      }
    }
  }
}
