$table-border: 2px solid black;

.custom_table {
  width: 100%;
  border: $table-border;
  thead {
    background-color: blanchedalmond;
    tr {
      th {
        border: $table-border;
      }
    }
  }

  tbody {
    tr {
      border: $table-border;

      th {
        border: $table-border;
      }
    }
  }
}
