.result_card {
  display: grid;
  gap: 4px;

  .result_image_layout {
    .result_card_image_container {
      aspect-ratio: 5/3;
      display: block;
      position: relative;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .result_info_layout {
    display: grid;
    gap: 4px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content {
    }
  }
}
