@use "@/styles/global.module.scss" as global-scss;

.search_result_container {
  display: grid;
  row-gap: 10px;

  .search_panel_container {
    display: grid;
    gap: 10px;
    padding: 20px 0px;

    .search_result_heading {
      @include global-scss.heading_text;
    }
    .filter_input_layout {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, minmax(18.75rem, 1fr));
      align-items: center;
      .filter_hotel_name_container {
      }

      .filter_address_container {
      }

      .filter_slider_container {
        padding-bottom: 20px;
      }

      .filter_button {
        grid-column: 1/-1;
      }
    }
  }

  .search_result_bottom {
    display: flex;
    column-gap: 10px;

    .result_container_layout {
      flex-grow: 1;

      .layout_control {
      }

      .result_container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media (max-width: 1000px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .empty_data_container {
          grid-area: 1 / span 2;
        }
      }
    }
  }
}
