.search_result {
  display: grid;
  row-gap: 10px;

  .search_input_container {
    display: flex;

    .text_input_container {
      flex-grow: 1;
    }
  }

  .search_result_bottom {
    display: flex;
    column-gap: 10px;
    .filter_panel {
      flex-basis: 26%;
    }

    .result_container_layout {
      flex-grow: 1;

      .layout_control {
      }

      .result_container {
        display: grid;
        row-gap: 5px;
      }
    }
  }
}
