@use "@/styles/global.module.scss" as global-scss;

.dashboard_header_container {
  height: 100dvh;

  display: grid;
  align-content: start;
  justify-items: stretch;
  row-gap: 40px;
  padding-top: 50px;
  background-color: global-scss.$primary-color;

  .header_staff_info {
    min-height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;

    .header_avatar_container {
      border-radius: 50%;
      overflow: hidden;
    }

    .header_username {
      font-size: 1.2rem;
    }
  }

  .header_hotel_management_menu {
    display: grid;
    padding-left: 20px;
    user-select: none;

    & > div {
      font-size: 18px;
      font-weight: 500;

      :hover {
        opacity: 0.6;
      }
    }

    .log_out_button {
      cursor: pointer;
    }
  }
}
