@use "@/styles/global.module.scss" as global-scss;

$small: 300px;
$medium: 900px;
$gap-width: 20px;

.dashboard_container {
  display: grid;
  gap: $gap-width;
  justify-items: stretch;

  .hotel_brief_container {
    &:hover
      .hotel_brief_heading
      .hotel_brief_hotel_name
      .dashboard_hotel_edit_button {
      visibility: visible;
      opacity: 1;
      transition: 200ms;
    }

    .hotel_brief_heading {
      display: flex;
      justify-content: center;
      align-items: center;

      .hotel_brief_hotel_name {
        font-size: xx-large;
        font-weight: 800;
        position: relative;

        .dashboard_hotel_edit_button {
          opacity: 0;
          visibility: hidden;
          transition: 200ms;
          position: absolute;
          right: -3rem;
          top: 0;
          z-index: 1;
        }
      }
    }

    .hotel_brief {
      display: grid;
      justify-items: center;
    }
  }

  .uploaded_image_container {
    width: 100%;
    display: grid;
    justify-items: center;
    row-gap: 18px;
    grid-template-rows: auto auto 100%;

    .uploaded_image_heading {
      font-size: 28px;
      font-weight: 600;
    }

    .upload_button {
    }

    .uploaded_image {
      width: 100%;
      display: grid;
      gap: $gap-width;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-content: space-evenly;

      .uploaded_image_container {
        // display: inline-block;
        position: relative;
        aspect-ratio: 16/9;

        &:hover .delete_button {
          opacity: 1;
          visibility: visible;
          transition: 0.2s;
        }

        .delete_button {
          opacity: 0;
          visibility: hidden;
          transition: 0.2s;
          position: absolute;
          top: 3%;
          right: 2%;
          z-index: 1;
        }
      }
    }
  }
}

.main_page_form_container {
  // display: grid;
  // justify-items: center;

  & > div {
    margin-bottom: 20px;
  }

  .submit_button {
    display: flex;
    justify-content: center;
  }
}
