$main-padding: 15rem;

@mixin heading-text() {
}

@mixin description-text() {
}

@mixin test-layout() {
  border: 2px solid purple;
}

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #main_layout {
    flex: 1;
    padding: 1.5rem $main-padding;
    background-color: #f5f5f4;
  }
}
