$main-padding: 15rem;
$primary-color: "";
$secondary-color: "";
$neutral-color: ""; //for text, border, dividers
$back-ground: ""; // For background of cards, modals
$text-color: ""; // Main text color

@mixin heading-text() {
}

@mixin description-text() {
}

@mixin test-layout() {
  border: 2px solid purple;
}

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  #main_layout {
    flex: 1;
    padding: 1.5rem $main-padding;
    background-color: #f5f5f4;
  }
}
