@use "@/styles/global.module.scss" as global-scss;

.room_type_container {
  display: grid;
  row-gap: global-scss.$section-spacing;
  .room_type_add_form {
  }

  .room_type_list_container {
    .list_header {
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      line-height: 4rem;
      font-weight: bold;
    }

    .room_type_list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      align-items: center;
      gap: 20px;

      .room_type_card {
        display: grid;
        place-items: left;

        .room_type_card_header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
