.customer_loading_container {
  height: 60dvh;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: baseline;
  row-gap: 20px;

  .loading_text {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
