.footer {
  .footer_content_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    justify-items: center;
    padding: 40px 0px;
    background-color: blanchedalmond;
  }

  .footer_signature_container {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 20px 0px;
    justify-content: center;
    background-color: burlywood;
  }
}
