@use "@/styles/global.module.scss" as global-scss;

.footer {
  .footer_signature_container {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 20px 0px;
    justify-content: center;
    background-color: global-scss.$primary-color;
  }
}
