@use "../global.module.scss" as global-scss;

@mixin nav-item-hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: global-scss.$primary-color;
  padding: 1rem global-scss.$main-padding;
  user-select: none;

  #logo {
    font-size: 2.2rem;
    font-weight: 700;
    transition: 0.2s;

    &:hover {
      @include nav-item-hover();
    }
  }

  .nav_link_container {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    gap: 30px;

    & > span {
      transition: 0.2s;
      &:hover {
        @include nav-item-hover();
      }
    }

    .mantine-Tree-subtree {
      position: absolute;
    }
  }

  .nav_login_button {
    transition: 0.2s;

    &:hover {
      @include nav-item-hover();
    }
  }
}
