@use "../global.module.scss" as global-scss;

.navbar {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: global-scss.$card-backgroud;
  padding: 1rem global-scss.$main-padding;
  user-select: none;

  #logo {
    font-size: 1.7rem;
    font-weight: 700;
  }

  #nav_link_container {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    gap: 30px;

    .mantine-Tree-subtree {
      position: absolute;
    }
  }
}
