.menu_container {
  position: relative;

  .menu_trigger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;

    .avatar_image {
    }
  }

  .dropdown_menu {
    display: grid;
    min-width: 12rem;
    row-gap: 1rem;
    position: absolute;
    z-index: 99;
    top: 4rem;
    right: -1.3rem;
    background-color: white;
    border: 1.8px solid black;
    border-radius: 10px;
    padding: 1rem 1.5rem;

    .dropdown_menu_heading {
      font-size: 0.8rem;
      display: grid;
      justify-items: center;

      & > h3 {
      }
      & > span {
        font-weight: 300;
      }
    }

    & > ul {
      font-size: 1rem;
      font-weight: 500;
    }

    li {
      cursor: pointer;
    }
  }
}
