@use "@/styles/header/Header.module.scss" as header-scss;
@use "@/styles/global.module.scss" as global-scss;

.menu_container {
  position: relative;

  .menu_trigger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
    transition: 0.2s;

    .avatar_image {
    }

    &:hover {
      @include header-scss.nav-item-hover;
    }
  }

  .dropdown_menu {
    display: grid;
    min-width: 12rem;
    row-gap: 1rem;
    position: absolute;
    z-index: 99;
    top: 4rem;
    right: -1.3rem;

    background-color: global-scss.$secondary-color;
    border: 1.8px solid black;
    border-radius: 10px;
    padding: 1rem 1.5rem;

    .dropdown_menu_heading {
      font-size: 0.8rem;
      display: grid;
      justify-items: center;

      & > span {
        font-weight: 300;
      }

      & > *:hover {
        transition: 0.5s;
        transform: scale(1.1);
      }
    }

    & > ul {
      font-size: 1rem;
      font-weight: 500;
    }

    li {
      cursor: pointer;
      &:hover {
        transition: 0.5s;
        font-weight: 800;
      }
    }
  }
}
