.not_found_page_container {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  top: 20dvh;

  .inner_block {
    display: grid;

    justify-content: center;
    justify-items: center;
    padding: 6rem 10rem;
  }
}
