@use "@/styles/global.module.scss" as global-scss;

.login_form_container {
  display: flex;
  justify-content: center;
  // border: 4px solid blanchedalmond;

  & > div {
    width: 500px;
    padding: 70px 50px;
  }

  .login_form_heading {
    @include global-scss.heading-text;
  }

  .login_form {
    display: grid;
    row-gap: 20px;

    .register_link {
      display: flex;
      justify-content: right;
      margin-top: 3px;
      font-size: 10px;
      font-style: italic;
      text-decoration: underline;
      font-weight: 700;
      opacity: 40%;
    }

    .login_form_control {
      display: flex;
      justify-content: center;
    }
  }
}
