@use "@/styles/global.module.scss" as global-scss;

.register_form_container {
  display: flex;
  justify-content: center;

  & > div {
    width: 500px;
    padding: 70px 50px;

    border: 2px solid global-scss.$primary-color;
    border-radius: 7px;
  }

  .register_form_heading {
    @include global-scss.heading-text;
  }

  .register_form {
    display: grid;
    row-gap: 20px;

    .login_link {
      display: flex;
      justify-content: right;
      margin-top: 3px;
      font-size: 10px;
      font-style: italic;
      text-decoration: underline;
      font-weight: 700;
      opacity: 40%;
    }

    .register_form_control {
      display: flex;
      justify-content: center;

      .register_button_text {
        display: flex;
        align-items: center;
        font-size: 1rem;
        column-gap: 8px;
      }
    }
  }
}
